body {
    background-color: beige;
}

title{
    font-size: 5em;
    font-family: 'Merienda One', monospace;
    font-weight: 100;
}
#buttonSpace1{
    margin-left: 12em;
}
#buttonSpace2{
    text-align: center;
    margin-left: 40em;
}
h3{
    margin-left: 46em;
    font-family: 'Merienda One', monospace;
    margin-bottom: 0em;
}
form{
    margin-right: 30em;
}
header{
    text-align: center;
    border-color: black;
    border-style: solid;
}
#infoSpace{
    margin-right: 40em;   
}
div#allComponents{
    border-style: solid;
    margin-top: 2em;
}
canvas{
    margin-left: 39em;
    height: 400px;
    width: 600px;
    margin-top: -24em;
}
fieldset{
    margin-top: 1vh;
	margin-left: 2vh;
	margin-right: 2vh;
	border-width: 3px;
	border-color: #440808cf;
	font-size: 0.8em;
	padding: 0.8vh;
}
button{
    margin-top: 1em;
    font-size: 1em;
    background-color:beige;
    color: black;
    padding: 8px;
    border-color:#440808cf;
    border-width: 5px;
    font-family: 'Merienda One', monospace;
}
#resetButton{
    margin-left: 1em;
}
#deleteButton{
    margin-left: 1em;
}
fieldset#duration{
    margin-bottom: 1em;
}