body {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: auto auto;
    border-width: 0.7em;
    margin-left: 2em;
    margin-right: 2em;
    background-color:#e6d690;
}
title{
    font-size: 5em;
    font-family: cursive;
}
header{
    text-align: center;
}

fieldset {
    margin-right: 2px;
    margin-left: 2px;
    border-width: 0.5cm;
    border-color: black;
    font-size: 1em;
    padding: 0.5em;
}

#form{
    border: solid grey;
    margin: 1em;
    margin-right: 40em;
}

p{
    text-align: center;
}

canvas{
    margin-left: 40em;
}

#infoSpace {
    margin-left: 40em;
    margin-top: -45em;
    text-align: left;
}

#compilationContainer{
    margin-left: 40em;
}